#navigation {
    width: 868px;
    height: 32px;
    /* background-color: #6698CA; */
    background-image: linear-gradient(#1C4996, #183C7D);
    position: static;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.navLinkGroup {
    width: 828px;
    display: flex;
    position: absolute;
    align-items: center;
    /* margin-left: 20px; */
    overflow: auto;
}

.navLinkText {
    font-family: Verdana;
    font-size: 12px;
    color: #FFFFFF;
    text-align: left;
    padding: 0px 8px;
    text-decoration: none;
    font-weight: 400;
}

.navLinkText:first-child {
    padding-left: 0px;
}

.navLinkText:hover {
    font-weight: 700;
    cursor: pointer;
}

#navDivider {
    font-family: Arial;
    font-weight: 700;
    font-size: 12px;
    color: #557A9E;
    text-align: left;
}