.projectCard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectTitle {
    color: #013299;
    margin-bottom: 2px;
}

.projectCard:hover {
    cursor: pointer;

}

.projectCard:hover .projectTitle {
    color: #CC0000;
    text-decoration: underline;
}