body {
  margin: 0px;
  padding: 0px;
  height: auto;
  /* background-color: #F6F8FA; */

  /* SAILOR MOON */
  /* cursor: url(http://www.rw-designer.com/cursor-extern.php?id=99842), crosshair; */

  /* REAL MOON */
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=59754), crosshair;

  /* MAPLESTORY */
  /* cursor: url(http://www.rw-designer.com/cursor-extern.php?id=35038), crosshair; */
}

body.homeBackground {
  background-image: url(https://media.giphy.com/media/F3LuIoVXgKAxHS3zFv/giphy.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: Verdana-Bold;
  font-size: 16px;
  color: #22262a;
  text-align: left;
  margin: 0px 0px;
}

strong {
  font-family: Verdana;
  font-weight: 700;
  font-size: 12px;
  color: #22262a;
  text-align: left;
}

p {
  font-family: Verdana;
  font-size: 12px;
  color: #22262a;
  text-align: left;
  margin: 0px 0px;
}

a {
  font-family: Verdana;
  font-weight: 700;
  font-size: 12px;
  color: #013299;
  text-align: left;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: #cc0000;
  text-decoration: underline;
}

a.navLinkText:hover {
  font-weight: 700;
  color: white;
  text-decoration: underline;
}

.redNumber {
  font-family: Verdana;
  font-size: 14px;
  color: #cc0000;
}

.strongRedGroup {
  display: flex;
  align-items: flex-end;
  margin-top: 0px;
  margin-bottom: 8px;
}

/* In JSX we can create linebreaks with whitespace now. No more divs! */
.linebreak {
  white-space: pre-line;
}

.orangeContentContainer {
  margin-bottom: 20px;
}
