body {
    margin: 0px;
    padding: 0px;
    height: auto;
    background-image: url(https://media.giphy.com/media/3o6EhOYMhOTANYgHMk/giphy.gif);
    background-color: rgba(0, 0, 0, .75);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #F6F8FA; */
    cursor: crosshair;

}

h1 {
    font-family: Verdana-Bold;
    font-size: 16px;
    color: #22262A;
    text-align: left;
    margin: 0px 0px;
}

strong {
    font-family: Verdana;
    font-weight: 700;
    font-size: 12px;
    color: #22262A;
    text-align: left;
}

p {
    font-family: Verdana;
    font-size: 12px;
    color: #22262A;
    text-align: left;
    margin: 0px 0px;
}

a {
    font-family: Verdana;
    font-weight: 700;
    font-size: 12px;
    color: #013299;
    text-align: left;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    color: #CC0000;
    text-decoration: underline;
}

a.navLinkText:hover {
    color: #0038A3;
    font-weight: inherit;
}

.redNumber {
    font-family: Verdana;
    font-size: 14px;
    color: #CC0000;
}

.strongRedGroup {
    display: flex;
    align-items: flex-end;
    margin-top: 0px;
    margin-bottom: 8px;
}

/* In JSX we can create linebreaks with whitespace now. No more divs! */
.linebreak {
    white-space: pre-line;
}

.orangeContentContainer {
    margin-bottom: 20px;
}